<br>
<br>
<form class="jumbotron border bg-white" >
    <fieldset>
        <div class="form-group">
            <label for="exampleInputName">Person Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputBusiness">Business Name</label>
            <input type="text" class="form-control" id="exampleInputBusiness">
        </div>
        <div class="form-group">
            <label for="exampleInputNumber">Business GST Number</label>
            <input type="text" class="form-control" id="exampleInputNumber">
        </div>
        <button type="submit" class="btn btn-primary">Add Business</button>
    </fieldset>
    </form>